.chartBorder {
    stroke: #000000;
    stroke-width: 1;
}
.chartGrid {
    stroke: #E4E4EA;
    stroke-width: 1;
    fill: none;
}
rect.chartBottom {
    fill: #ffffff;
}
rect.axisBar {
    fill: #F7F7FC;
}
text.axisLabel {
    fill: #7C7C84;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
}
.chartLine {
    stroke: #01B2E5;
    stroke-width: 1;
    fill: none;
}
.thresholdLowLine {
    stroke: #FAA43A;
    stroke-width: 1;
}
.thresholdHighLine {
    stroke: #FAA43A;
    stroke-width: 1;
}
.newClass {
    stroke: #000;
}
